@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  
}



:root {
  --primary-color: #d96aa7;
  --secondary-color: #d0ede6;
  --complimentary-color: #88bfb5;
  --contrast-color: #f2e527;
  --light-color: #d2a9d9;
  
}

.grid-container {
    display:grid;
    grid-template-areas:
    'nav main'
    'nav main'
    'nav main';
    

}
.pageTitle{
    margin: 20px;
}
.routine { 
  max-width: 60%; 
  min-width: 60%;
}



.suggestions {
  max-width: 40%; 
  min-width: 40%;   
    
}


.routineContainer {
    display:flex;
    font-family: 'Permanent Marker', cursive;
    min-width: 60%;
    min-height: 70vh;
    background: url(https://media.istockphoto.com/id/1199971584/vector/paper-texture-background.jpg?s=170667a&w=0&k=20&c=qlztxRTxC28kV7O0nshr9Ej0xNiGvTTDgjAgEjE5jLY=);
    font-size: clamp(.5rem, 1.5vw, 4rem); 
}
.routineContainer h2 {
  margin-bottom: 2rem;
}

body {
  --clr-color: #d0ede6;
  background-color: var(--clr-color1);
  /* background: url(https://i.pinimg.com/originals/96/6a/7b/966a7b0fa51a0e145aa6b2fe8cd56923.jpg); */
}

.main-container {
  margin: 0;
  /* height: auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
  
  min-height: 100vh;
  grid-area: main;
  flex-wrap: wrap;
  margin-left: 10rem;
  padding: 1rem;
}

ul.nav {
  grid-area: nav;
  position: fixed;
  left: 0;
  width: 8rem;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 100%;
  background: var(--secondary-color);
  overflow: auto;
}

.imglogo {
  width: 80px;
}
.mainlogo {
  mix-blend-mode: difference;
}

.focusDiv {
    margin-bottom: 50px;
}

ul.nav li {
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  padding: 20px;
  text-align: center;
}

ul.nav li span {
  color: white;
 
}

ul.nav li::before {
  content: "";
  position: absolute;
  width: 1.5em;
  height: inherit;
  background-color: black;
  border-radius: 50%;
  top: 0;
  left: -0.75em;
  transition: 0.5s ease-out;
}

ul.nav li:hover::before {
  transform: scale(7);
}

.workoutList {
  display: flex;
  flex-wrap: wrap;
  gap: 4%;
  margin-top: 10%;
}

.workout_card {
  /* Add shadows to create the "workout_card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  min-width: 30%;
  max-width: 30%;
  margin-bottom: 1em;
  flex-grow: 1;

  border-radius: 10px;
  background: white;
  box-shadow: -.5rem 0 1rem #000;
  padding: 2px 16px;
  transition: 0.1s;
  height: 100%;
}

/* On mouse-over, add a deeper shadow */
.workout_card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.workout_card:hover {
  transform: translateY(-1rem);
}

.workout_card:hover ~ .workout_card {
  transform: translateX(1px);
}

.workout_card:not(:first-child) {
  margin-left: -1px;
}

.card__img {
  display: block;

  height: 18rem;
  object-fit: cover;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 90%;
  margin-bottom: 8px;
}
.card__content {
  padding: 3rem 3rem;
}
.card__header {
  font-size: 1.2rem;
  font-weight: 800;
  color: black;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  height: 3rem;
}
.card__text {
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  line-height: 1.7;
  color: #8899a6;
  margin-bottom: 2.5rem;
}
.card__btn {
  display: block;
  width: 50%;
  min-height: 4rem;
  padding: 1rem;
  font-size: 0.8rem;
  text-align: center;
  color: #3363ff;
  background-color: #e6ecff;
  border: none;
  border-radius: 0.8rem;
  transition: 0.2s;
  cursor: pointer;
  position: relative;
  left: 25%;
  bottom: 1%;
}
/* .card__btn span {
    margin-left: 1rem;
    transition: 0.2s;
} */
.card__btn:hover,
.card__btn:active {
  background-color: #dce4ff;
}
.card__btn:hover span,
.card__btn:active span {
  margin-left: 1.5rem;
}

.logo {
	text-align: center;
	color:#f2e527;
    margin-bottom: 50px;

}

.focus {
	text-align: center;
	color:#d96aa7
}

.buttonHolder {
  gap: 1rem;
  display: flex;
  padding-bottom: 2rem;
  padding-top: 1rem;
  
}
.button-33 {
  flex-basis: 100%;
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

